<td class="text-center">
  <div class="round">
    <input type="checkbox" [attr.id]="'taskCheckedCompleted' + task.id"
           [(ngModel)]="task.completed" (click)="taskService.taskToggle(task.id)" title="New task title">
    <label [attr.for]="'taskCheckedCompleted' + task.id"></label>
  </div>
</td>
<td>
  <ng-container *ngIf="!task.completed">
    <span [hidden]="taskService.currentlyEditedTasks.has(task.id)" class="break-word">{{task.title}}</span>
    <form [hidden]="!taskService.currentlyEditedTasks.has(task.id)">
      <div class="form-group mb-0">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" [value]="task.title" #editTaskTitle title="Edit task title">
          <div class="input-group-append">
            <button class="btn btn-info py-0" type="submit"
                    (click)="taskService.saveEditTask(task.id, editTaskTitle.value); $event.preventDefault()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf="task.completed">
    <span class="textStrikeThrough break-word">{{task.title}}</span>
  </ng-container>
</td>
<td class="text-center">
  <div [ngClass]="{'btn-group': !task.completed}">
    <button type="button" class="btn btn-outline-primary btn-sm py-0"
            *ngIf="!task.completed"
            [disabled]="taskService.currentlyEditedTasks.has(task.id)" (click)="taskService.startEditTask(task.id)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon></svg>
    </button>
    <button type="button" class="btn btn-outline-danger btn-sm py-0"
            (click)="taskService.deleteTask(task.id)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
    </button>
  </div>
</td>
